<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시물<a href="{% url 'blog:post' %}">새 글 작성하기</a></h1>
<form method="get">
    <input type="text" name="q" value="{{q}}" id="search">
    <input type="submit" value="검색">
</form>
<div id="list">
    <hr>
    {% for post in posts %}
    <a href="{{post.get_absolute_url}}"><h3>{{post.title}}</h3></a>
    <p>{{post.description}}</p>
    {% endfor %}
</div>
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">이전</a>
{% endif %}
<span>페이지 {{page_obj.number}}/{{page_obj.paginator.num_pages}}</span>
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">다음</a>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let search = document.getElementById('search');
        search.addEventListener('input', function (e) {
            fetch('/blog/search?q=' + search.value).then(res => res.text()).then(html => {
                document.getElementById('list').innerHTML = html;
            })
        })
    })
</script>
</body>
</html>