<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{post.title}}</h2>
<h3>{{post.description}}</h3>
<span>작성일자 : {{post.modify_dt|date:"Y F j"}}</span>
<br>
<span>조회수 : {{post.view}}회</span>
<div>
    {{post.content|linebreaks}}
</div>
{% if object.get_previous %}
<a href="{{post.get_previous.get_absolute_url}}">이전 : {{object.get_previous}}</a>
<br>
{% endif %}
{% if object.get_next %}
<a href="{{post.get_next.get_absolute_url}}">다음 : {{object.get_next}}</a>
{% endif %}
<h3>댓글</h3>
{% for comment in post.comment_set.all %}
    <h4>{{comment.writer}}</h4>
    <p>{{comment.content|linebreaks}}</p>
{% endfor %}
<form action="{% url 'blog:comment' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="post" value="{{post.id}}">
    <input type="text" name="writer" placeholder="작성자" value="{{writer}}" />
    <textarea name="content" placeholder="내용"></textarea>
    <input type="submit" value="댓글작성"/>
</form>
</body>
</html>